{% include "header.html" %}

<!-- Page Header-->
<body class="is-preload">

		<!-- STABLE -->
			<div id="wrapper">
				<header id="header">
					<a href="{{url_for('home')}}" class="logo">ILLUSTRATION</a>
				</header>
				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li><a href="{{url_for('home')}}">Welcome</a></li>
						<li><a href="{{url_for('gallery')}}">Gallery</a></li>
						<li><a href="{{url_for('self_intro')}}">About Me</a></li>
						<li  class="active"><a href="{{url_for('prize')}}">Commission Info</a></li>
					</ul>
					<ul class="icons">
						<li><a href="https://github.com/bommo00" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</nav>
				<!-- Main -->
				<div id="main">

					<!-- Post -->
					<div>
						<h2>Blockquote</h2>
						<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>
					</div>


					<div class="table-wrapper">
						<h2>Default</h2>
						<br>
						<table>
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Price</th>
									<p>
									  <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
										Can I HAVE A MORE LONGER ONE
									  </button>
									</p>
									<div style="min-height: 120px;">
									  <div class="collapse collapse-horizontal" id="collapseWidthExample">
										<div class="card card-body" style="width: 900px;">
										  This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
										</div>
									  </div>
									</div>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Item 1</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item 2</td>
									<td>Vis ac commodo adipiscing arcu aliquet.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item 3</td>
									<td> Morbi faucibus arcu accumsan lorem.</td>
									<td>29.99</td>
								</tr>
								<tr>
									<td>Item 4</td>
									<td>Vitae integer tempus condimentum.</td>
									<td>19.99</td>
								</tr>
								<tr>
									<td>Item 5</td>
									<td>Ante turpis integer aliquet porttitor.</td>
									<td>29.99</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td>100.00</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>

				{% include "footer.html" %}
			</div>

</body>

