{% include "header.html" %}

<!-- Page Header-->
<body class="is-preload" >

		<!-- STABLE -->
			<div id="wrapper">
				<header id="header">
					<a href="{{url_for('home')}}" class="logo">ILLUSTRATION</a>
				</header>


				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li><a href="{{url_for('home')}}">Welcome</a></li>
						<li class="active"><a href="{{url_for('gallery')}}">Gallery</a></li>
						<li><a href="{{url_for('self_intro')}}">About Me</a></li>
						<li><a href="{{url_for('prize')}}">Commission Info</a></li>
					</ul>
					<ul class="icons">
						<li><a href="https://github.com/bommo00" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</nav>
				<!-- Main -->
				<div id="main">

					<div class="box alt">
						<div class="row gtr-50 gtr-uniform">
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<!-- Break -->
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<!-- Break -->
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
							<div class="col-4"><span class="image fit"><a href="#firsttype"><img src="./static/images/pic02.jpg" alt="" /></a></span></div>
						</div>
					</div>
					<section>
						<div id="firsttype" class="carousel slide">
						  <div class="carousel-inner">
							<div class="carousel-item active">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						  </button>
						</div>
					</section>
					<section>
						<div id="secondtype" class="carousel slide">
						  <div class="carousel-inner">
							<div class="carousel-item active">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						  </button>
						</div>

					</section>
					<section>
						<div id="thirdtype" class="carousel slide">
						  <div class="carousel-inner">
							<div class="carousel-item active">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						  </button>
						</div>
					</section>
					<section>
						<div id="fourthtype" class="carousel slide">
						  <div class="carousel-inner">
							<div class="carousel-item active">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
							  <img src="./static/images/pic01.jpg" class="d-block w-100" alt="...">
							</div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						  </button>
						</div>
					</section>

				</div>
				{% include "footer.html" %}
			</div>
</body>
