{% include "header.html" %}

				<div class="container px-4 py-5  rounded" style="background-color: rgba(255,255,255,0.97);">
					<div class="px-4 pt-5 my-5 text-center border-bottom">
						<h1 class="display-4 fw-bold text-body-emphasis">Welcome to My Portfolio</h1>
						<div class="col-lg-6 mx-auto">
						  <p class="lead mb-4">Here is the first website that shows both my artworks in the gallery page and the process of some projects under development in the about-me page! There is still a bunch of new functions will be developed in the future.<br>Hope you enjoy it! :)</p>
						  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
							<button type="button" class="btn btn-primary btn-lg px-4 me-sm-3"><a class="linkage" href="{{url_for('gallery')}}">Art Work</a></button>
							<button type="button" class="btn btn-secondary btn-lg px-4"><a class="linkage" href="{{url_for('self_intro')}}">Programming</a></button>
						  </div>
						</div>

					</div>

					<!-- Content -->
					<div class="row">

						<div class="col-6 p-4 gap-4 m-5">
						  <h1 class="display-4 fst-italic fw-bold text-muted">All the Images Here were Drawn by Me!</h1>
							<br>
						  <p class="lead my-3">Since 14 years ago, I started to learn about digital art.<br><br> Software used:<br>Procreate(IOS)/Adobe Photoshop/Adobe Illustrator<br>SAI2/Clip Studio Paint<br><br><br>
							  ●Reproduction is prohibited.</p>

						</div>
						<div class="col-4 p-4 gap-5 m-5">
							<div class="card">
								<img class="card-img-top" src="../static/images/013.jpg" alt="Card image cap">
								<div class="card-body">
								  <p class="card-text">😽I'd like to share my new work here after every update.</p>
								  <div class="d-flex justify-content-between align-items-center">
									  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Detail</button>
									  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-content modal-dialog modal-dialog-centered">
											<img src="../static/images/013.jpg" alt="Card image cap">
										</div>
									  </div>

									<small class="text-body-secondary">2023.11.2</small>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


{% include "footer.html" %}