{% include "header.html" %}

<!-- Page Header-->
<body id="basic">
			<div class="container my-5">
			  <div class="p-5 text-center bg-body-tertiary rounded-3">
				<svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
				<h1 class="text-body-emphasis">Jumbotron with icon</h1>
				<p class="col-lg-8 mx-auto fs-5 text-muted">
				  This is a custom jumbotron featuring an SVG image at the top, some longer text that wraps early thanks to a responsive <code>.col-*</code> class, and a customized call to action.
				</p>
				<div class="d-inline-flex gap-2 mb-5">
				  <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
					Call to action
					<svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
				  </button>
				  <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
					Secondary link
				  </button>
				</div>
			  </div>
			</div>

			<!-- NAV -->
			<div class="container px-3 py-4">
				<nav id="navbar" class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom rounded" data-bs-theme="Light">
				  <div class="container">
					<a class="navbar-brand d-md-none" href="#">
					  <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
					  Aperture
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="#offcanvas" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="offcanvas offcanvas-end" tabindex="-1" id="#offcanvas" aria-labelledby="#offcanvasLabel">
					  <div class="offcanvas-header">
						<h5 class="offcanvas-title" id="#offcanvasLabel">Aperture</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					  </div>
					  <div class="offcanvas-body">
						<ul class="navbar-nav flex-grow-1 justify-content-between">
						  <li class="nav-item"><a class="nav-link" href="#">
							<svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
						  </a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Enterprise</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
						  <li class="nav-item"><a class="nav-link" href="#">
							<svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
						  </a></li>
						</ul>
					  </div>
					</div>
				  </div>
				</nav>
				<br><br>


						<div class="container px-4 py-5 bg-body-tertiary rounded">
							<h2 class="pb-2 border-bottom">Custom cards</h2>
							<div class="col">
							  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
								<div class="col p-4 d-flex flex-column position-static">
								  <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
								  <h3 class="mb-0">Featured post</h3>
								  <div class="mb-1 text-body-secondary">Nov 12</div>
								  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
								  <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
									Continue reading
									<svg class="bi"><use xlink:href="#chevron-right"></use></svg>
								  </a>
								</div>
								<div class="col-auto d-none d-lg-block">
								  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
								</div>
							  </div>
							</div>
							<div class="col">
							  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
								<div class="col p-4 d-flex flex-column position-static">
								  <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
								  <h3 class="mb-0">Post title</h3>
								  <div class="mb-1 text-body-secondary">Nov 11</div>
								  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
								  <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
									Continue reading
									<svg class="bi"><use xlink:href="#chevron-right"></use></svg>
								  </a>
								</div>
								<div class="col-auto d-none d-lg-block">
								  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
								</div>
							  </div>
							</div>
						</div>
						<br><br>
						<div class="container px-4 py-5 bg-body-tertiary rounded" id="custom-cards" >
							<h2 class="pb-2 border-bottom">Custom cards</h2>

							<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
							  <div class="col">
								<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
								  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
									<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
									<ul class="d-flex list-unstyled mt-auto">
									  <li class="me-auto">
										<img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
									  </li>
									  <li class="d-flex align-items-center me-3">
										<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
										<small>Earth</small>
									  </li>
									  <li class="d-flex align-items-center">
										<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
										<small>3d</small>
									  </li>
									</ul>
								  </div>
								</div>
							  </div>

							  <div class="col">
								<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
								  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
									<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
									<ul class="d-flex list-unstyled mt-auto">
									  <li class="me-auto">
										<img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
									  </li>
									  <li class="d-flex align-items-center me-3">
										<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
										<small>Pakistan</small>
									  </li>
									  <li class="d-flex align-items-center">
										<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
										<small>4d</small>
									  </li>
									</ul>
								  </div>
								</div>
							  </div>

							  <div class="col">
								<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
								  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
									<h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
									<ul class="d-flex list-unstyled mt-auto">
									  <li class="me-auto">
										<img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
									  </li>
									  <li class="d-flex align-items-center me-3">
										<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
										<small>California</small>
									  </li>
									  <li class="d-flex align-items-center">
										<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
										<small>5d</small>
									  </li>
									</ul>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center bg-body-tertiary">
						  <div class="list-group">
							<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
							  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
							  <div class="d-flex gap-2 w-100 justify-content-between">
								<div>
								  <h6 class="mb-0">List group item heading</h6>
								  <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
								</div>
								<small class="opacity-50 text-nowrap">now</small>
							  </div>
							</a>
							<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
							  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
							  <div class="d-flex gap-2 w-100 justify-content-between">
								<div>
								  <h6 class="mb-0">Another title here</h6>
								  <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>
								</div>
								<small class="opacity-50 text-nowrap">3d</small>
							  </div>
							</a>
							<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
							  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
							  <div class="d-flex gap-2 w-100 justify-content-between">
								<div>
								  <h6 class="mb-0">Third heading</h6>
								  <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
								</div>
								<small class="opacity-50 text-nowrap">1w</small>
							  </div>
							</a>
						  </div>
							<div class="list-group">
							<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
							  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
							  <div class="d-flex gap-2 w-100 justify-content-between">
								<div>
								  <h6 class="mb-0">List group item heading</h6>
								  <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
								</div>
								<small class="opacity-50 text-nowrap">now</small>
							  </div>
							</a>
							<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
							  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
							  <div class="d-flex gap-2 w-100 justify-content-between">
								<div>
								  <h6 class="mb-0">Another title here</h6>
								  <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a little longer so it wraps to a new line.</p>
								</div>
								<small class="opacity-50 text-nowrap">3d</small>
							  </div>
							</a>
							<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
							  <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
							  <div class="d-flex gap-2 w-100 justify-content-between">
								<div>
								  <h6 class="mb-0">Third heading</h6>
								  <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p>
								</div>
								<small class="opacity-50 text-nowrap">1w</small>
							  </div>
							</a>
						  </div>

						</div>
					</div>
					<br><br>

					<footer class="py-5 text-center text-body-secondary bg-body-tertiary rounded">
					  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
					  <p class="mb-0">
						<a href="#">Back to top</a>
					  </p>
					</footer>
					{% include "footer.html" %}



		<!-- STABLE -->

</body>
