{% include "header.html" %}

<!-- Page Header-->
<body class="is-preload">

		<!-- STABLE -->
			<div id="wrapper">
				<header id="header">
					<a href="{{url_for('home')}}" class="logo">ILLUSTRATION</a>
				</header>


				<!-- Nav -->
				<nav id="nav">
					<ul class="links">
						<li><a href="{{url_for('home')}}">Welcome</a></li>
						<li><a href="{{url_for('gallery')}}">Gallery</a></li>
						<li  class="active"><a href="{{url_for('self_intro')}}">About Me</a></li>
						<li><a href="{{url_for('prize')}}">Commission Info</a></li>
					</ul>
					<ul class="icons">
						<li><a href="https://github.com/bommo00" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					</ul>
				</nav>
				<!-- Main -->
				<div id="main">

					<section class="posts">
						<article>
							<header>
								<span class="date">April 24, 2017</span>
								<h2><a href="#">Sed magna<br />
								ipsum faucibus</a></h2>
							</header>
							<a href="#" class="image fit"><img src="./static/images/pic02.jpg" alt="" /></a>
							<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
							<ul class="actions special">
								<li><a href="#" class="button">Full Story</a></li>
							</ul>
						</article>
						<article>
							<header>
								<span class="date">April 22, 2017</span>
								<h2><a href="#">Primis eget<br />
								imperdiet lorem</a></h2>
							</header>
							<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
							<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
							<ul class="actions special">
								<li><a href="#" class="button">Full Story</a></li>
							</ul>
						</article>

					</section>

				</div>
				{% include "footer.html" %}
			</div>
</body>
